NEXUS_DATA_ROOT=/Library/Application Support/NexusAI
NEXUS_MODELS_DIR=/Library/Application Support/NexusAI/models
NEXUS_SOC_DATA_ROOT=/Library/Application Support/NexusAI/company-data
NEXUS_EXPORT_DIR=/Library/Application Support/NexusAI/exports
NEXUS_EMBEDDING_MODEL=/Library/Application Support/NexusAI/models/embeddings/nomic-embed-text-v1.5.Q4_K_M.gguf
NEXUS_DEPLOY_MODE=server
NEXUS_CONTEXT_SIZE=8192
NEXUS_MAX_TOKENS=1024
